body {
  background: url(images/abstract-1853406_1920.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
  border:1px solid #;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;   
}

body {
    opacity: 1;
    transition: 1s;
}
body.fade-out {
    opacity: 0;
    transition: none;
}

body {
    font-size: 1em;
    font-family: 'Playfair Display SC', serif;
    align-content: center;
    text-align: center;
      }

header {
    color: navy;
    font-size: 25px;
    align-content: center;
  }

h1 {
  font-size: 3em;
  }

h2 {
  font-size: 2em;
  }

article {
  color: navy;
}

footer {
  font-size: 17px;
  color: navy;
  }

a {
  color: navy;
  }

a:hover {
  text-decoration: none;
  color: blue;
  font-size: 20px;
  }

a:visited {
  text-decoration: none;
  color: dimgray;
  }

.box:hover {
  -webkit-transform: rotate(360deg);
}

img {
  width: 30%;
  height: auto;
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; 
}
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}

@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}

.menuButton {
	background-color:transparent;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:navy;
	font-family: 'Playfair Display SC', serif;
	font-size:15px;
	font-weight:bold;
	padding:8px 42px;
	text-decoration:none;
}
.menuButton:hover {
	background-color:transparent;
}
.menuButton:active {
	position:relative;
	top:1px;
}
